/* .Navbar-title{
    background-color: #2F5755;
} */

.Navbar-title{
    height: 45px;
    color: #f8f8f8;
    background: linear-gradient(to right,#6B7A8F,#F7882F, #F7C331,#DCC7AA);
}

.navbar1-head{
        background: linear-gradient(to right,#6B7A8F,#F7882F, #F7C331,#DCC7AA);
        margin-top: 0.5px;
}

.medexa-logo{
    height: 70px;
    font-size: 40px;
    width: 30px;
    color: #f8f8f8;
    margin-left: 20px;
}

.login-main{
    text-align: end;
    margin-right: 300px;
}

.booking{
    margin-right: 0px;
    margin-left: 195px;
    align-items: center;
    
}
